.items {
    width: 100%;
    height: 264px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 16px;
    .items-center {
      width: 87%;
      height: inherit;
      display: flex;
      justify-content: center;
      column-gap: 5px;
      .items-center-one {
        width: 659px;
        height: 264px;

        img {
          width: 659px;
          height: 264px;
          object-fit: cover;
          border-radius: var(--borderradiusM);
        }
      }
    }
  }